[submodule "external/timemory"]
	path = external/timemory
	url = https://github.com/NERSC/timemory.git
[submodule "external/perfetto"]
	path = external/perfetto
	url = https://android.googlesource.com/platform/external/perfetto
[submodule "external/elfio"]
	path = external/elfio
	url = https://github.com/jrmadsen/ELFIO.git
[submodule "external/dyninst"]
	path = external/dyninst
	url = https://github.com/jrmadsen/dyninst.git
