[submodule "external/timemory"]
	path = external/timemory
	url = https://github.com/NERSC/timemory.git
[submodule "external/perfetto"]
	path = external/perfetto
	url = https://android.googlesource.com/platform/external/perfetto
[submodule "external/elfio"]
	path = external/elfio
	url = https://github.com/jrmadsen/ELFIO.git
[submodule "external/dyninst"]
	path = external/dyninst
	url = https://github.com/jrmadsen/dyninst.git
[submodule "external/PTL"]
	path = external/PTL
	url = https://github.com/jrmadsen/PTL.git
[submodule "external/kokkos"]
	path = examples/lulesh/external/kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "external/papi"]
	path = external/papi
	url = https://bitbucket.org/icl/papi.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/jrmadsen/pybind11.git
