name: Documentation

on:
  workflow_dispatch:
  push:
    branches: [main, amd-mainline, gh-pages]
    paths:
      - '*.md'
      - 'source/docs/**'
      - '.github/workflows/docs.yml'
      - 'VERSION'
  pull_request:
    branches: [main, amd-mainline]
    paths:
      - '*.md'
      - 'source/docs/**'
      - '.github/workflows/docs.yml'
      - 'VERSION'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GIT_DISCOVERY_ACROSS_FILESYSTEM: 1

jobs:
  build-docs:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Conda
        uses: s-weigand/setup-conda@v1
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Create Docs Directory
        run:
          mkdir -p docs
      - name: Update Docs
        working-directory: source/docs
        run: |
          conda env create -n omnitrace-docs -f environment.yml
          source activate
          conda activate omnitrace-docs
          ./update-docs.sh
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs

  deploy-docs:
    if: github.repository == 'ROCm/omnitrace' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/gh-pages')
    runs-on: ubuntu-20.04
    needs: build-docs
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
