name: Python
run-name: Python

on:
  push:
    branches: [ main, develop ]
    paths:
      - 'source/python/gui/*.py'
      - 'source/python/gui/**/*.py'
  pull_request:
    branches: [ main, develop ]
    paths:
      - 'source/python/gui/*.py'
      - 'source/python/gui/**/*.py'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      working-directory: ${{ github.workspace }}/source/python/gui
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      working-directory: ${{ github.workspace }}/source/python/gui
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # flake8 options are defined in setup.cfg
        flake8 . --count --statistics

  testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      working-directory: ${{ github.workspace }}/source/python/gui
      run: |
        apt-get update
        apt-get dist-upgrade -y
        apt-get install -y firefox
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
        python -m pip install pytest selenium selenium-wire webdriver-manager
    - name: Test
      working-directory: ${{ github.workspace }}/source/python/gui
      run: |
        pip install -e .
        pytest -s -vv
